.para{
  font-size: 40px;
  text-decoration: underline;
  font-family: Arial;
  font-weight: bold;
}

.container{
  
  text-align: center;
}

.btn{
  width: 120px;
  height: 120px;
  border-radius: 60px;
 
  background-color: white;
  cursor: pointer;
}

.image{
  width: 80px;
  height: 80px;
}

.btns {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(201, 24, 24);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.js-score{
  color: rgb(35, 35, 137);
}